.card {
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    color: black;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 15px #000000;

    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card:hover {
    transform: scale(1.02);
    background-color: #c9c9c9;
    border: 1px solid #494949;
}

.card img {
    width: auto;
    height: 25vh;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.4;
    word-wrap: break-word;
}

.card p {
    font-size: 0.8em;
    max-height: 80px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}