.main-menu {
    text-align: center;
    max-width: 70vw;
    margin: auto;
}

.main-menu h1 {
    margin-top: 1em;
}

.main-menu-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}