body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: #7b2cbf;
    color: white;
    margin: 0;
    min-height: 100vh;
    /* Cała wysokość okna */
}

header {
    width: 100%;
    background-color: #10002b;
    color: white;
    margin-top: 0;
    padding: .5em;
    font-size: 1.2rem;
    text-align: center;
}

.round {
    text-align: center;
}

.round h3 {
    color: rgb(255, 217, 0);
    text-shadow: #000;
}

.quiz-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7b2cbf;
    padding: 30px;
    border-radius: 10px;
}

.game-chooser {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}


.vs {
    font-size: 3rem;
    font-weight: 900;
    color: #FF6868;
    text-shadow: 2px 2px 0px #000;
}

.winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.winner img {
    border: 5px solid gold;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.5);

}

button {
    margin: auto;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover {
    background-color: #bdbdbd;
    transform: scale(1.05);
}


.main-menu {
    text-align: center;
    max-width: 70vw;
    margin: auto;
}

.main-menu h1 {
    margin-top: 1em;
}

.main-menu-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}