#winners-history {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

#winners-history-container {
    background-color: #7F67CA;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    width: 100%;
    max-width: 800px;
    align-self: center;
}

.winner-history-card {
    background: #ffffff1a;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.winner-history-card img {
    width: 100%;
    border-radius: 5px;
}

.review-text {
    width: 94%;
    background: #F3EAFF;
    color: #4D2988;
    border: 1px solid #ffffff1a;
    border-radius: 4px;
    padding: 5px;
    resize: vertical;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 4px;
}

.score-input {
    width: 50px;
    background: #AC9AB5;
    color: #1C163B;
    border: 1px solid #555;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}
.save-update-btn {
    display: flex;
    justify-content: center;
}


h4 {
    font-size: 1.2rem;
    margin: 0;
}
h5 {
    margin-top: 0;
    color: #E0CFFB;
}
